#right {
  float: right;
}

#project-wrapper {
  position: relative;
  height: 100%;
  margin-top: 50px;
  overflow-y: scroll;
}

.wrapper {
  padding-top: 50px;
}


.square_image {
  max-width: 1000px;
  max-height: 1000px;
  overflow: hidden; }
  .square_image.s2 {
    border-color: #ee8484; }
  .square_image img {
    max-width: 100%; }
